<!--Ira. 30/10/23-->

<h2 class="text-uppercase">Manage rented products</h2>
<br />
<hr />
<br />

<h3>Rent Product</h3> <!--Ayako 31/10/2023-->
<br>
<form method="get" action="@Url.Action("rentProduct", "RentedProduct")">
    <div class="d-grid col-5 justify-content-beginning">
        <input class="btn btn-outline-dark" type="submit" value="Go to the page">
    </div>
</form>
<br />
<hr />
<br />


<h3>Show all rented products</h3> <!--Ira, 30/10/23-->
<br>
<form method="get" action="@Url.Action("AllRented", "RentedProduct")">
    <div class="d-grid col-5 justify-content-beginning">
        <input class="btn btn-outline-dark" type="submit" value="Go to the page">
    </div>
</form>
<br />
<hr />
<br />

<h3>Show all currently rented products</h3> <!--Ira, 30/10/23-->
<br>
<form method="get" action="@Url.Action("AllRentedToday", "RentedProduct")">
    <div class="d-grid col-5 justify-content-beginning">
        <input class="btn btn-outline-dark" type="submit" value="Go to the page">
    </div>
</form>
<br />
<hr />
<br />

<h3>Show top 3 rented brands</h3> <!--Ayako, 22/10/23-->
<br>
<form method="get" action="@Url.Action("showTop3RentedBrands", "RentedProduct")">
    <div class="d-grid col-5 justify-content-beginning">
        <input class="btn btn-outline-dark" type="submit" value="Go to the page">
    </div>
</form>

<br />
<hr />
<br />
<h3>Show total rent per category</h3> <!--Ira, 30/10/23-->
<br>
<form method="get" action="@Url.Action("RentPerCategory", "RentedProduct")">
    <div class="d-grid col-5 justify-content-beginning">
        <input class="btn btn-outline-dark" type="submit" value="Go to the page">
    </div>
</form>
<br />
<hr />
<br />

